$color1 : rgb(48, 107, 52);
$color2 : rgb(237, 37, 38);
$color3 : rgb(243, 167, 18);
$color4 : rgb(80, 21, 55);
$color5 : rgb(251, 86, 7);
$color6 : ivory;
*{
    margin-bottom: 0!important;
    box-sizing: border-box;
   ;
}
@font-face {
    font-family: Kocheng;
    src: url(./fonts/Kocheng.ttf);
}
@font-face {
    font-family: Yes Free;
    src: url(./fonts/Yes\ Free.ttf);
}
.navbar-brand{
    font-family: Yes Free;
    font-size: 60pt;
    text-shadow: 5px 5px 5px  gold,
                10px 10px 10px rgb(143, 45, 86) ,
                15px 15px 15px ivory ; 
    color: rgb(20, 20, 20);

}

.img-logo{
    width: 15%;
    height: auto;
}
body{
    background-image: url(./multimedia/C.jpg);
    background-size: cover;
}

.clases{
    background-image: url(./multimedia/E.jpg);
    background-size: cover;
    width: 100%;
}
.row{
    width: 100%;
}
.contactanos{
    background-image: url(./multimedia/B.jpg);
    background-size: cover;
}
.ingreso-plataforma{
    background-image: url(./multimedia/D.jpg);
    background-size: cover;
}
.nosotros{
    background-image: url(./multimedia/A.jpg);
}
ul.navegacion li{
    list-style-type: none;
    display: inline;
    text-align: center;
    align-items: center;

}
nav{
    text-align: center;
    align-items: center;
    width: 100%;


}
.nav-link{
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: rgb(33, 37, 41);
    text-shadow: 2px 2px 2px rgb(143, 45, 86),
                   3px 3px 3px gold ;



   
}

.btn{
    text-decoration: none;
    color: rgb(33, 37, 41);
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(143, 45, 86),
    3px 3px 3px gold ;
    box-shadow: 2px 2px 2px black;

}
.btn:hover{
    color: ivory;
    background-image: radial-gradient(circle, #88c853, #85c354, #81be54, #7eb955, #7bb455, #78af55, #75ab56, #72a656, #6ea156, #6b9b57, #689657, #659157);
}
.nav-item a:hover{
    color: ivory;
}

footer{
    text-align: center;
    margin: 0!important;
    margin-bottom: 0!important;
    background-color: black;
    margin-top: 0!important;


}
h3{
    text-align: center;
    font-size: 25pt;
    font-family: Kocheng;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px;
    font-weight: bolder;
    text-shadow: 3px 3px 3px palevioletred,
                    6px 6px 6px black,
                        9px 9px 9px ivory;


}
p{
    text-align: justify;
    font-size: 15pt;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px;
    line-height: 2rem;
    padding: 10px;
    font-weight: bolder;
    color: rgb(33, 37, 41);

}
#subdescripcion-logo{
    font-family: kocheng;
    font-size: 20pt;
    margin: 0%;
    background-color: transparent;
    color: rgb(20, 20, 20);
    padding: 0;
}
h4{
text-align: center;    
font-size: 20pt;
font-family: Kocheng;
color: rgb(195, 0, 255);
font-weight: bolder;
background-color: rgba(0, 0, 0, 0.884);
padding: 15px;
margin-bottom: 0;
text-shadow: 3px 3px 3px black,
                    6px 6px 6px rgb(0, 187, 249),
                        9px 9px 9px rgb(254, 228, 64);
}
.lista-clases{
    text-align: center;
    color: ivory;
    font-weight: bolder;
}
.ingreso{
    text-align: center;
    color: rgb(20, 20, 20);
    font-weight: bolder;
    text-shadow: 0 0 5px ivory,
                    0 0 10px palevioletred;

}
footer .redes{
    font-size: 40pt;
    text-decoration: none;
    letter-spacing: 15px;
    text-align: center;
    margin: 0;
    
}
footer .redes a:hover{
    color: rgb(235, 233, 242);

}
footer .redes a{
    color: gold;
    text-decoration: none;
}
.texto-footer{
    background-color: transparent!important;
    text-align: center;
    color: gold;
    margin: 0;

}
.footer-edit{
    padding:0;
    margin: 0;
    background-image: linear-gradient(to bottom, #b81365, #c31262, #ce135f, #d8165b, #e11b56, #e32a55, #e43554, #e63f54, #e04d59, #da585f, #d46265, #cd6b6b);
}
.redes{
    margin-bottom: 0!important;
}
.link-prefooter a{
    text-decoration: none!important;
    color: rgb(255, 0, 85);
}
.link-prefooter a:hover{
    color: rgb(137, 218, 91);
}
.img-clases{
    width: 100%;
    height: auto;
}
.dt-uno{
    text-decoration: underline;
    text-shadow: 0 1px 1px black;

}
.form-uno{
    justify-content: center;
}
.form-item{
    justify-content:right;
    margin-right: 30%;
    color: rgb(20, 20, 20);
    font-weight: bolder;
    text-shadow: 0 0 5px ivory,
                    0 0 10px palevioletred;
}
@media only screen and (max-width:580px){
    .form-item{
        margin-right: 0%;
    }
}
.boton-enviar{
    justify-content:center!important;
    
    width: 30%;
    align-content: center ;
    margin-left: 35%;

}
.item-contacto{
    justify-content: center;

}
.lista-clases li{
    text-shadow: 0 1px 1px black;
}
.texto-contenido{
    text-shadow: 0 1px 1px white;
}
.img-nosotros{
    width: 16%;
    justify-content: center;
}
.col{
    width: 30%!important;
    height: auto!important;
}
.main-contactanos{
    width: 100%;
}
@for $i from 1 through 3 {
    .card-#{$i} {
        background-color: lighten($color2, $i *10%);
    }
}
@for $i from 4 through 6 {
    .card-#{$i} {
        background-color: lighten($color3, ($i - 3) *10%);
    }
}
@for $i from 7 through 9 {
    .card-#{$i} {
        background-color: lighten($color1, ($i - 6) *10%);
    }
}
@for $i from 10 through 12 {
    .card-#{$i} {
        background-color: lighten($color4, ($i - 9) *10%);
    }
}
@for $i from 13 through 15 {
    .card-#{$i} {
        background-color: lighten($color5, ($i - 12) *10%);
    }
}
.card{
    box-shadow: 5px 5px 5px;
}
.card-title{
    text-shadow: 2px 2px 4px white;
    text-align: center;
}

@for $i from 1 through 15 {
    .card-#{$i}:hover{
        box-shadow: 5px 5px 5px $color6,
                        5px -5px 5px $color6,
                            -5px 5px 5px $color6,
                                -5px -5px 5px $color6;

    }
}
.main-clases{
    row-gap: 20px;
    width: 100%;
}